* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-image: url(../imagen/Emplatado-Mojarra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.container__all {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.back__box {
  width: 100%;
  height: 350px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(0.1px);
  background-color: rgba(236, 131, 11, 0.3);
}

.back__box div {
  margin: 100px 40px;
  color: rgb(6, 33, 180);
  transition: all 500ms;
}

.back__box div p,
.back__box div button {
  margin-top: 30px;
}

.back__box div h3 {
  font-weight: 400;
  font-size: 36px;
}

.back__box button {
  padding: 10px 40px;
  border: 2px solid rgb(33, 9, 250);
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(33, 9, 250);
  outline: none;
  transition: all 300ms;
}

.back__box button:hover {
  background: #fff;
  color: blue;
}

/*FORMULARIOS*/
.container__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 280px;
  position: relative;
  top: -185px;
  left: 10px;

  transition: left 500ms cubic-bezier(0.175, 0.85, 0.32, 1.275);
}

.container__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}

.container__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: blue;
}

.container__login-register form input {
  width: 100%;
  margin-top: 20%;
  padding: 5%;
  border: none;
  background: #b0c3eb;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.container__login-register form button {
  padding: 5px 20px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.form__login {
  opacity: 1;
  display: block;
}

.form__register {
  display: none;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .back__box {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .back__box div {
    margin: 0px;
    position: absolute;
  }

  /*FORMULARIO*/

  .container__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .container__login-register form {
    position: relative;
  }
}
